/* styles.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 10%;
    padding: 20px;
    background-color: rgb(50, 50, 50);
    color: #333;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

h2 {
    color: #2c3e50;
}

/* Section Styles */
.section {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    padding: 15px;
}

/* List Styles */
ul {
    list-style-type: none; /* Remove default bullet points */
    padding-left: 0; /* Remove left padding */
}

li {
    margin-bottom: 10px; /* Space between list items */
}

/* Footer Styles */
footer {
    text-align: center;
    margin-top: 20px;
}
